@import "ui-variables";

.elmjutsu-go-to-symbol {
  .module-name {
    color: @text-color-subtle;
  }
  .symbol-kind-default {
    color: @text-color-highlight;
  }
  .symbol-kind-type,
  .symbol-kind-type-alias,
  .symbol-kind-type-case {
    color: @ui-site-color-5; // yellow
  }
  .type-case {
    margin-left: @component-padding;
    color: @text-color;
    font-size: 90%;
  }
}
.elmjutsu-find-usages {
  .module-name {
  }
  .function-name {
    color: @ui-site-color-5;
  }
  .index {
    margin-left: @component-padding;
    color: @text-color-subtle;
  }
}
.elmjutsu-find-unused {
  .module-name {
  }
  .function-name {
    color: @ui-site-color-5;
  }
}
atom-text-editor,
atom-text-editor::shadow {
  .elmjutsu-symbol-highlight .region {
    border: 1px solid @ui-site-color-5;
    border-radius: @component-border-radius;
  }
  .elmjutsu-usage-highlight .region {
    border: 1px solid @ui-site-color-5;
    border-radius: @component-border-radius;
  }
}
.elmjutsu.sidekick {
  height: 100%;
  overflow: auto;
  padding: @component-padding;
  font-size: @font-size;
  a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  p {
  }
}
